.title {
  font-family: Cardo;
  font-size: 8rem;
  color: white;
}

.subtitle {
  font-family: Roboto;
  font-size: 1.5rem;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("/HeroBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contactButton {
  padding: 0px 10px 0px 10px;
  box-sizing: border-box;
  margin: 20px 0px 0px 0px;
  outline: 2px solid white;
  border: none;
  border-radius: 5px;
  background: transparent;
  color: white;
  font-family: Cardo;
  font-size: 1.5rem;
  cursor: pointer;
}

.contactButton:hover {
  color: blue;
}
