.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2rem;
  transition: background-color 150ms ease-out, padding 150ms ease-out;
}

.scrolled {
  background-color: #202020;
  padding: 0.5rem 2rem 0.6rem 2rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
}
